# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Terraform modules tests

on:
  pull_request:
    paths:
      - 'terraform/**'
      - 'terraform-product/**'

jobs:
  docs-checks:
    uses: canonical/operator-workflows/.github/workflows/terraform_modules_test.yaml@feat/add_terraform_module_tests-ISD-5149
    secrets: inherit
    with:
      terraform-directories: 
      - terraform
      - terraform-product
      k8s-controller: true
      lxd-controller: true
