# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

# Attention: valid for K8s charms only

name: Terraform modules tests

on:
  pull_request:
    paths:
      - 'terraform/**'

permissions:
  contents: read

jobs:
  test-terraform:
    name: Test Terraform with Juju
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working_dir: ["terraform/tests", "terraform-product/tests"]
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Prepare juju tf provider environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io 
        sudo rm -Rf /run/containerd
        sudo snap install concierge --classic
        sudo /home/runner/go/bin/concierge prepare -p k8s
    - uses: hashicorp/setup-terraform@v3.1.2
    - run: echo "Testing ${{ matrix.working_dir }}"
    - run: terraform init
      working-directory: ${{ matrix.working_dir }}
    - run: terraform plan -out=tfplan
      working-directory: ${{ matrix.working_dir }}
    - run: terraform show tfplan
      working-directory: ${{ matrix.working_dir }}
    - run: |
        juju add-model tf-testing
        set -e  # Exit on error
        terraform test || { echo "Terraform test failed"; exit 1; }
      working-directory: ${{ matrix.working_dir }}
