name: Test Terraform Module
on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  test-terraform:
    uses: canonical/operator-workflows/.github/workflows/terraform_modules_test.yaml@main
    with:
      lxd-controller: true
      k8s-controller: false
